.react-datepicker-popper {
  font-family: "Inter";

  .react-datepicker__navigation {
    background: #ffffff;
    border: 1px solid #c0c0c0;
    border-radius: 3px;
    top: 12px;
  }

  .react-datepicker__navigation-icon {
    &::before {
      top: calc(50% - 4px);
      color: #c0c0c0;
    }
  }

  .react-datepicker__navigation--previous {
    left: 8px;

    &:hover {
      background-color: rgba(235, 238, 240, 0.3) !important;
    }
  }

  .react-datepicker__navigation--next {
    right: 8px;

    &:hover {
      background-color: rgba(235, 238, 240, 0.3) !important;
    }
  }

  .react-datepicker__month-container {
    .react-datepicker__header {
      background-color: #ffffff;
      border-bottom: 0px;
    }
  }

  .react-datepicker {
    font-family: "Inter";
    padding: 12px;
    // padding-bottom: 12px;
    font-size: 1em;
    border: none;
    box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.2);
  }
}

//rgba(235, 238, 240, 0.3) !important

//  calender open design accoding to figma (start)
.react-datepicker-popper[data-placement^="bottom"] {
  padding-top: 0px !important;
}

.react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle {
  top: 0;
  margin-top: 14px !important;
}

.react-datepicker__current-month {
  color: #202223;
}

//  calender open design accoding to figma (end)

.react-datepicker__day--outside-month {
  opacity: 0.5;
}

.react-datepicker__day-names {
  margin-top: 8px;
  margin-bottom: -12px;
  // font-size: 1.2em;
}

// .react-datepicker__day-name {
//   font-size: 1.2em;
// }

.react-datepicker__month {
  .react-datepicker__day--selected,
  .react-datepicker__day--keyboard-selected {
    border-radius: 3px;
    background-color: #ededf6;
    color: rgb(32, 33, 73);
    width: 1.9rem;
    border: 1px solid rgb(32, 33, 73);
  }

  .react-datepicker__day {
    color: #202223;

    &:hover {
      border-radius: 3px;
      background-color: #ededf6;
    }
  }
}

.react-datepicker__day--today {
  color: rgb(32, 33, 73) !important;
}

.react-datepicker__navigation-icon--next {
  &::before {
    transform: rotate(45deg);
    left: -4px;
  }
}

.react-datepicker__navigation-icon--previous {
  &::before {
    transform: rotate(225deg);
    right: -4px;
  }
}

.react-datepicker__day--disabled {
  color: #ededf6 m !important;
  opacity: 0.8;
}

.react-datepicker-wrapper {
  .form-control {
    height: 36px;
  }
}

@media (max-width: 1366px) {
  .react-datepicker-wrapper {
    .form-control {
      height: 30px;
      font-size: 12px;
    }
  }

  .date-picker {
    img {
      height: 15px;
      width: 20px;
    }
  }

  .react-datepicker-popper {
    .react-datepicker {
      padding: 5px;
    }

    .react-datepicker__navigation {
      height: 25px;
      width: 25px;
    }

    .react-datepicker__navigation-icon {
      &::before {
        height: 8px;
        width: 8px;
        top: 50%;
        transform: translateY(-34%) translateX(-3%) rotate(225deg);
        border-width: 2px 2px 0 0;
      }
    }

    .react-datepicker__navigation-icon--next {
      &::before {
        transform: translateY(-34%) translateX(18%) rotate(45deg);
      }
    }

    .react-datepicker__current-month {
      font-size: 12px;
    }

    .react-datepicker__day-names {
      margin-top: 5px;

      .react-datepicker__day-name {
        font-size: 12px;
        line-height: 1.5rem;
        width: 1.5rem;
      }
    }

    .react-datepicker__month {
      .react-datepicker__day {
        font-size: 12px;
        width: 1.5rem;
        line-height: 1.3rem;
        margin: 0.1rem;
      }
    }
  }
}
