.showcase {
  background: url("./showcase.png") no-repeat center center;
  background-size: cover;
  height: 450px;
  width: 1350px;
  margin-left: -25px;
  border-radius: 10px;
}

.showcase p {
  color: rgb(236, 236, 236);
  font-size: 3.5rem;
  text-align: center;
  width: 480px;
  margin: auto;
  padding-top: 5rem;
  margin-top: 1rem;
  text-transform: uppercase;
  font-family: "Playfair Display", serif;
}

.search-button {
  background-color: rgb(120, 72, 244);
  padding: 1rem;
  border-radius: 5px;
}

.events-header {
  font-family: "Playfair Display", serif;
  color: rgb(236, 236, 236);
  font-size: 2rem;
}
.events-header span {
  color: rgb(120, 72, 244);
}

.event-search-container {
  background-color: rgb(16, 16, 123);
  border-radius: 10px;
  padding: 2rem;
  margin: auto 0;
  margin-top: -3rem;
}
