@import "./fonts.scss";
@import "./themeLayout/style.scss";
// @import "bootstrap/scss/bootstrap";

html,
body {
  padding: 0;
  margin: 0;
  // font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  //   Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-family: "Inter";

  ::-webkit-scrollbar {
    width: 5px;
  }
  .navbar-custom-dropdown {
    padding: 0 20px;
    &::after {
      content: "" !important;
      background-image: url("/assets/navbar-menu/dropdown-arrow-general.svg");
      padding-left: 4px !important;
      height: 12px !important;
      width: 14px !important;
      position: absolute;
      right: 2px;
      top: 50%;
      transform: translateY(-50%);
      background-repeat: no-repeat;
      background-size: 12px 14px;
    }
  }
  @media (max-width: 650px) {
    .navbar-nav {
      .navbar-user-name {
        display: none !important;
      }
    }
    .pagination-main {
      display: flex;
      flex-direction: column;
    }
    .pagination {
      display: flex;
      justify-content: start !important;
    }
    .next-btn-custom {
      display: block !important;
    }
    .table-mobile-view-row {
      display: table-row !important;
    }
    .table-header-row {
      display: none !important;
    }
    .main-table-row {
      display: none !important;
    }
    .custom-page-record-info {
      display: block !important;
    }
    .page-item {
      display: none !important;
      &.active {
        display: block !important;
      }
      &.prev-btn {
        display: block !important;
      }
      &.next-btn {
        display: block !important;
      }
    }
  }
  .date-picker {
    // position-absolute d-flex justify-content-center align-items-center end-0 top-0 p-1
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    // top: 1px;
    right: 0px;
    padding: 7px;
    background-color: #ebeef0;
    border-radius: 4px;
    cursor: pointer;
  }

  ::-webkit-scrollbar {
    width: 1px;
    height: 5px !important;
  }
  .searchable-menu {
    .dropdown-header {
      p {
        color: #202223;
      }
    }

    .searchable-main-div {
      overflow-y: scroll;

      ::-webkit-scrollbar {
        width: 5px !important;
      }
    }

    .searchable-main-div::-webkit-scrollbar {
      width: 5px !important;
    }
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  .toaster-show {
    position: fixed;
    top: 40px;
    right: 10px;
    z-index: 99999;

    &.success {
      background: #bbe5d7 !important;
    }

    &.error {
      background: #fff4f4 !important;
      color: #ff8a8a;
    }
  }
  .page-header-common {
    .breadcums {
      .home-link {
        padding-right: 4px;

        img {
          height: 20px;
          width: 20px;
        }
      }

      .breadcrumb-1 {
        height: 8px;
        width: 10px;
      }

      .breadcums-title {
        font-size: 12px;
      }
    }
  }
  // toster close btn alignment
  .alert-dismissible .btn-close {
    position: absolute;
    top: 3px;
    right: 4px;
    z-index: 2;
  }
  .listing-search-dropdown {
    max-height: 270px;
    max-width: 270px;
    min-width: -webkit-fill-available;
    overflow-x: hidden;
    z-index: 9;
    overflow-y: scroll;

    .dropdown-item {
      &.active {
        background: $primary;
        color: #fff;
      }

      &:hover {
        background: $primary;
        color: #fff;
        cursor: pointer !important;
      }

      overflow-x: hidden;
      text-overflow: ellipsis;
      max-width: 99%;
      white-space: nowrap;
      cursor: pointer;
    }
  }
  .right-modal {
    display: block;
    height: 100vh;

    &.modal {
      &.fade {
        .modal-dialog {
          transform: scale(1);
          transition: right 0.8s ease;
          right: -60vw;
        }

        &.show {
          .modal-dialog {
            // transition: transform 1.4s ease;
            transition: all 0.4s ease;
            right: 0vw;
          }
        }
      }

      .modal-dialog {
        position: absolute;
        right: 0;
        top: 0;
        width: 80vw;
        margin: 0;
        border-radius: 0;

        .modal-content {
          height: 100vh;
          border-radius: 0 !important;

          .modal-header {
            font-size: 16px;
            color: #202223;
          }

          .modal-body {
            padding: 0rem;
          }
        }
      }

      .listing-search-wrapper {
        width: 100%;

        .listingSearch {
          width: 100%;

          .form-control {
            width: 50%;
            max-width: 50%;
          }
        }
      }

      .drawer-date-wrapper {
        padding: 0px 12px;
        margin-left: 0px;
      }

      .drawer-search-wrapper {
        width: 61%;
      }
    }

    &.special-grn-mapping {
      &.modal {
        .modal-dialog {
          width: 75vw;
          max-width: 75vw;
        }
      }
    }
  }

  .right-modal {
    &.modal {
      .drawer-date-wrapper {
        padding: 0px 0px !important;
        margin-left: 10px !important;
      }

      .drawer-search-wrapper {
        width: 70%;
      }
    }
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $primary;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $primary;
  }
  .tabs-error {
    color: #ba0000 !important;

    &.nav-link {
      &::before {
        content: " ";
        position: absolute;
        right: -6px;
        top: 50%;
        height: 20px;
        width: 15px;
        transform: translateY(-50%);
        background-image: url("/assets/error.svg");
        background-repeat: no-repeat;
        background-size: 15px 20px;
        background-position: center 2px;
      }

      &.active {
        &::after {
          width: 100% !important;
          background-color: #ba0000 !important;
          left: 6px !important;
        }
      }
    }
  }
  .nav-pills .nav-link.active {
    background-color: #dedfec !important;
    color: black !important;
  }
  .custom-class {
    input {
      margin-bottom: 0px;
      cursor: pointer;
    }
  }
  // Check Box Buttons
  .checkbox-button {
    background-color: white;
    color: #202223;
    border: 1px solid #dadddf !important;
    padding: 0 16px;
    height: 28px;
    border-radius: 3px 3px 3px 3px;
    font-size: 12px;
  }

  .checkbox-buttons {
    background-color: white;
    color: #202223;
    border: 1px solid #dadddf !important;
    padding: 0 16px;
    height: 28px;
    border-radius: 0px 3px 3px 0px;
    margin-left: -2px;
    font-size: 12px;
  }
  .main-loader {
    position: absolute;
    // min-height: 100vh;
    height: 100%;
    width: calc(100vw - 1px);
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
    z-index: 99999;
  }

  .input-container {
    // background: #ebeef0;
    border-radius: 3px;
    align-items: center;

    .icon {
      padding: 0 0px 0 0px;
      margin: 0px 5px;
    }

    input {
      background-color: transparent;
      // border: none;
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      height: 36px !important;
      color: #202223;

      &:focus {
        background: transparent;
        box-shadow: none;
      }

      &:focus-visible {
        outline: none;
      }
    }

    .rti--container {
      width: 100%;

      &:focus-within {
        border-color: $primary;
        box-shadow: none;
      }
    }

    .form-select {
      line-height: 1.08;
      height: 36px;
      cursor: pointer;
    }

    .form-select:disabled {
      background-position-y: 69% !important;
      background-position: right 8px center;
      background-size: 16px 14px;
      background-image: url("/assets/table/select-dropdown-icon-disable.svg");
      cursor: default;
    }

    //  tag-input field changes ui
    .css-b62m3t-container {
      width: 100%;
    }

    .css-13cymwt-control {
      // height: 36px;
      border-color: #e9ecef;
    }

    .css-1fdsijx-ValueContainer {
      padding: 0px 8px;
      height: 36px;
      cursor: text;

      .css-1h01tm3-Input {
        height: 36px;
        margin: 0px;
      }

      .css-qbdosj-Input {
        margin: 0px;
        padding-bottom: 0px;
        padding-top: 0px;

        input {
          height: 30px !important;
        }
      }
    }

    .css-166bipr-Input {
      margin: 0px;
      padding-bottom: 0px;
      padding-top: 0px;

      input {
        height: 30px !important;
      }
    }

    .css-3w2yfm-ValueContainer {
      padding: 0px 8px;

      .css-1p3m7a8-multiValue {
        margin: 2px 2px;
      }

      .css-qbdosj-Input {
        margin: 0px;
        padding-bottom: 0px;
        padding-top: 0px;

        input {
          height: 30px !important;
        }
      }
    }

    .css-1jqq78o-placeholder {
      // padding-bottom: 12px;
    }

    .css-1hb7zxy-IndicatorsContainer {
      // padding-bottom: 12px;
      // height: 36px;
    }

    .css-t3ipsp-control {
      // height: 36px;
      border-color: #e9ecef;
      box-shadow: 0 0 0 0 rgb(85 86 166 / 25%) !important;
    }

    .css-t3ipsp-control:active {
      // border-color: #e9ecef !important;
      box-shadow: 0 0 0 0 rgb(85 86 166 / 25%) !important;
    }

    .css-t3ipsp-control:hover {
      // border-color: #e9ecef !important;
      box-shadow: 0 0 0 0 rgb(85 86 166 / 25%) !important;
    }

    .css-3iigni-container {
      width: 100%;
    }

    // .css-1jqq78o-placeholder{

    // }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    input[type="number"] {
      -moz-appearance: textfield;
      // text-align: end;
    }

    &.inner-sufix-wrapper {
      border: 1px solid #e9ecef;
      border-radius: 3px;

      &.fail-validation {
        border: 1px solid #d82c0d;
        background: #fff4f4;
      }

      input {
        border: 0;
      }

      .inner-sufix {
        padding-left: 3px !important;
        padding-right: 10px !important;
      }
    }
  }

  .btn-primary {
    border: 1px solid $primary;
    background: $primary;
    border-radius: 3px !important;
    height: 36px !important;
    box-shadow: 0px 0.5px 0px rgba(0, 0, 0, 0.05),
      0px 0px 0px 1px rgba(0, 0, 0, 0.08), 0px 2px 4px rgba(0, 0, 0, 0.05);
    border-radius: 3px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    border: none;

    // &:hover {
    //   color: $primary;
    //   background: transparent;
    //   border: 1px solid $primary;
    //   // box-shadow: 0 0 0 1px $primary;
    // }

    // &:active {
    //   background: $primary;
    //   border: 1px solid $primary;
    //   box-shadow: 0px 0.5px 0px rgba(0, 0, 0, 0.05),
    //   0px 0px 0px 1px rgba(0, 0, 0, 0.08), 0px 2px 4px rgba(0, 0, 0, 0.05);
    // }

    // &:focus {
    //   color: $primary;
    //   background: transparent;
    //   // box-shadow: 0 0 0 1px $primary;
    // }
  }

  .common-form-header {
    .custom-header {
      font-size: 16px !important;
      padding: 5px 0px !important;
    }

    .btn {
      padding: 0px 10px !important;
      margin-bottom: auto;

      img {
        height: 16px;
        width: 16px;
      }
    }
  }

  .bg-lightGray {
    background: #ebeef0;
  }

  .css-1u9des2-indicatorSeparator {
    margin: 0px;
  }

  .css-tj5bde-Svg {
    fill: #808080 !important;
  }

  .css-1fdsijx-ValueContainer {
    white-space: nowrap;
  }

  .input-group {
    // input {
    //   border: 1px solid hsl(0, 0%, 80%);
    //   height: 36px !important;
    // }
    .btn {
      z-index: 0;
      height: 38px !important;
    }

    .right {
      border-left: 0px;
      border: 1px solid hsl(0, 0%, 80%);
      border-radius: 4px;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
      height: 36px !important;
    }
  }

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }

  .btn-primary-out-line {
    border: 1px solid $primary;
    color: $primary;
    height: 36px;
    border-radius: 2px !important;

    &:hover {
      color: #fff;
      border: none;
      background: $primary;
      border: 1px solid $primary;
      box-shadow: 0px 0.5px 0px rgba(0, 0, 0, 0.05),
        0px 0px 0px 1px rgba(0, 0, 0, 0.08), 0px 2px 4px rgba(0, 0, 0, 0.05);
    }

    &:active {
      color: $primary;
      border: 1px solid $primary;
      box-shadow: 0px 0.5px 0px rgba(0, 0, 0, 0.05),
        0px 0px 0px 1px rgba(0, 0, 0, 0.08), 0px 2px 4px rgba(0, 0, 0, 0.05);
    }
  }

  .btn-primary-out-line2 {
    border: 1px solid #fff;
    color: $primary;
    border-radius: 2px !important;

    &:hover {
      color: #fff;
      border: none;
      background: $primary;
      border: 1px solid $primary;
      box-shadow: 0px 0.5px 0px rgba(0, 0, 0, 0.05),
        0px 0px 0px 1px rgba(0, 0, 0, 0.08), 0px 2px 4px rgba(0, 0, 0, 0.05);
    }

    &:active {
      color: $primary;
      border: 1px solid $primary;
      box-shadow: 0px 0.5px 0px rgba(0, 0, 0, 0.05),
        0px 0px 0px 1px rgba(0, 0, 0, 0.08), 0px 2px 4px rgba(0, 0, 0, 0.05);
    }
  }

  .transprent-tooltip {
    background: #ffffff00;

    div.tooltip-inner {
      background-color: #ffffff !important;
      color: #202223;
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
    }

    &.bs-tooltip-bottom {
      .tooltip-arrow {
        &::before {
          border-bottom-color: #ffffff;
        }
      }
    }
  }

  .table {
    thead {
      background: #ebeef0;
    }

    td {
      img {
        border-radius: 3px;
      }
    }
  }

  .fs-7 {
    font-size: 0.775rem !important;
  }

  // File Upload
  #file_upload {
    display: none;
  }

  .file-input-box {
    display: none;
  }

  .file_upload_label {
    display: flex;
    justify-content: center;
    border: 1px dashed #2c6ecb !important;
    border-radius: 3px;
    padding: 30px 0;
    color: #2c6ecb !important;
    background-color: #f2f7fe;
    &.fail-validation {
      color: #d82c0d !important;
      background-color: #fff4f4 !important;
      border: 1px dashed #d82c0d !important;
    }
  }

  .file-validation {
    color: #2c6ecb !important;
    background-color: #f2f7fe !important;
    border: 1px dashed #2c6ecb !important;
  }

  .delete-file {
    position: absolute !important;
    // right: -13px;
    // top: -12px;
  }

  select {
    text-transform: capitalize;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

// Modal Buttons
.cancel-button {
  background-color: #ebeef0;
  color: #808080;
  box-shadow: 0px 0px 1px rgba(117, 131, 142, 0.04),
    0px 2px 4px rgba(52, 60, 68, 0.16);
  border-radius: 3px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.custom-select {
  padding: 0px;
  box-shadow: none;
  color: #808080;
  height: 36px !important;

  .form-control {
    height: 36px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: $primary;
  }

  ::-webkit-scrollbar {
    width: 5px !important;
    height: 2px !important;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $primary;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $primary;
  }

  > :not(:last-child) > :last-child > * {
    border-bottom-color: inherit;
  }

  .btn {
    width: 100%;
    background: transparent;
    // padding: 10px 25px 10px 10px;
    box-shadow: none;
    color: #808080;
    min-width: 130px;
    border-width: 1px 1px 1px 1px !important;

    border-color: #e9ecef;
    border-style: solid;
    height: 100%;
    padding-right: 30px;
    text-align: left;

    // search-column-input field text aligment center
    &.warehouse-aligment {
      text-align: right;
      float: right;
      padding-right: 26px;
    }

    &::after {
      content: "" !important;
      background-image: url("/assets/navbar-menu/dropdown-arrow-general.svg");
      height: 12px !important;
      width: 14px !important;
      position: absolute;
      right: 9px;
      top: 50%;
      transform: translateY(-50%);
      background-repeat: no-repeat;
      background-size: 12px 14px;
      opacity: 0.5;
    }

    &:hover {
      background: transparent !important;
      color: black;
    }

    &:focus-visible {
      border: none !important;
    }

    &:active {
      color: #808080;
      background-color: transparent;
      border-color: #e9ecef;
    }

    &:disabled {
      // margin-top: 2px;
      border-left: 1.5px solid #d2d5d8;
      height: 36px;
    }
  }

  &.on-fail-validation {
    .btn {
      &::after {
        right: 30px;
      }
    }
  }

  .dropdown-menu {
    // max-height: 290px;
    // overflow-y: scroll;
    max-width: 270px;
    min-width: -webkit-fill-available;
    overflow-x: hidden;
    z-index: 9;

    .dropdown-item {
      &:hover,
      &:focus {
        background: $primary;
        color: #fff;
        cursor: pointer !important;
      }

      overflow-x: hidden;
      text-overflow: ellipsis;
      max-width: 99%;
      white-space: nowrap;
      cursor: pointer;

      &:focus {
        outline: none;
      }

      &:focus-visible {
        outline: none;
      }
    }
  }

  .dropdown-button {
    border-color: $primary !important;
    color: $primary !important;

    &::after {
      content: "" !important;
      background-image: none !important;
    }
  }

  // .filter-dropdown {
  //   background: transparent !important;

  //   &:hover {
  //     background: transparent !important;
  //   }
  // }
}
.react-datepicker-popper {
  z-index: 99999;
}

.rmdp-container {
  .rmdp-range {
    background-color: #ededf6;
    color: $primary;
    box-shadow: none;

    span {
      &:hover {
        color: $primary !important;
      }
    }
  }

  // date picker aligment fix
  .rmdp-week-day {
    color: $primary;
    // display: none;
  }

  .rmdp-range-picker-footer {
    .rmdp-week-day {
      display: none;
    }
  }

  .rmdp-header-values {
    span {
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #202223;
    }

    div {
      span {
        color: #202223;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        margin-right: 40px;
      }
    }
  }

  .rmdp-header-values:first-child {
    background-image: url("/assets/table/calendar-active.svg");
    background-repeat: no-repeat;
    background-position: left;
    background-color: transparent;
    border-radius: 0;
    color: transparent;
    display: inline-block;
    height: 22px;
    margin: auto 7px auto 0;
    margin-left: 7px;
    transform: scaleY(1);
    width: 22px;

    .rmdp-cancel {
      display: none;
    }
  }

  .rmdp-header-values {
    div:first-child {
      margin-left: 24px;
      width: 42%;

      span {
        padding-top: 4px;
      }
    }

    div:last-child {
      width: 30%;
      margin: 0px;

      span {
        padding-top: 4px;
      }
    }
  }

  .rmdp-arrow-container {
    border-radius: 0;
    cursor: pointer;
    display: flex;
    height: 20px;
    justify-content: center;
    margin: 0px 12px;
    width: 20px;
  }

  .rmdp-left {
    border: 0.5px solid #808080;

    i {
      color: #202223;
      // opacity: 0.5;
      background-image: url("/assets/calender-left-arrow.svg");
    }
  }

  .rmdp-right {
    border: 0.5px solid #808080;

    i {
      color: #202223;
      // opacity: 0.5;
      // background-image: url("/assets/table/calender-left-arrow.svg");
    }
  }

  .rmdp-day {
    span {
      border-radius: 2px !important;

      &:hover {
        background-color: #ededf6 !important;
        color: $primary !important;
      }
    }
  }

  .rmdp-today {
    span {
      background-color: transparent !important;
      color: $primary !important;
      font-weight: bold;
      // border: 1px solid $primary ;
      // border-radius: 4px;
    }
  }

  .rmdp-disabled,
  .rmdp-day-hidden {
    span {
      &:hover {
        color: #8798ad !important;
        background-color: white !important;
      }
    }
  }

  .rmdp-week {
    .rmdp-week-day {
      color: #808080;
      font-size: 10px;
    }
  }

  .rmdp-range .end {
    color: white;
  }

  .rmdp-week {
    .rmdp-week-day {
      color: #808080;
      font-size: 10px;
    }
  }

  .rmdp-range .end {
    color: white;
  }

  .rmdp-week > .start,
  .rmdp-week > .end {
    background-color: $primary !important;
    border-radius: 0;

    span {
      color: white !important;
      font-weight: lighter !important;

      &:hover {
        color: white !important;
        background-color: $primary !important;
      }
    }
  }

  .rmdp-range-picker-footer .rmdp-button {
    display: none;
  }

  .rmdp-arrow-container {
    width: 28px;
    height: 28px;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -4px;
  }

  .rmdp-arrow-container:hover {
    background-color: transparent !important;
    box-shadow: none;

    .rmdp-arrow {
      border: solid #202223;
      border-width: 0 2px 2px 0;
    }
  }

  .rmdp-left,
  .rmdp-right {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;

    .rmdp-arrow {
      margin-top: 0px;
    }

    .rmdp-arrow:hover {
      border-color: #202223;
    }
  }

  .rmdp-week {
    .rmdp-week-day {
      font-size: 12px;
    }
  }
}
.searchable-dropdown-button {
  width: 100%;

  button {
    width: 100%;
    background: white !important;
    text-align: left;
    box-shadow: none !important;
    display: flex;
    justify-content: left;
    align-items: center;
    border: none !important;
  }

  .dropdown-item-table {
    line-height: 24px !important;
  }
}

.border-custom {
  border: 1px solid hsl(0deg, 0%, 85%) !important;
}

.custom-image {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}

.error-message {
  color: #d82c0d;
  font-size: 12px;
}

.loader {
  border: 6px solid #f3f3f3;
  border-radius: 50%;
  border-top: 6px solid rgb(32, 33, 73);
  width: 48px;
  height: 48px;
  animation: spin 1s linear infinite;
  position: fixed;
  top: 20%;
  left: 45%;
  -webkit-animation: spin 0.5s linear infinite;
  transform: translate(-50%, -50%);
  /* Safari */
  animation: spin 0.5s linear infinite;
}

// .custom-table {

// }
