@import url("https://fonts.googleapis.com/css2?family=Inter&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Playfair Display", serif;
  font-weight: 400;
}

h1 {
  /* font-family: initial; */
  /* font-weight: 900; */
}
