// Forms 

.form-control .form-select {
  height: 36px;
}
.form-select {
  // padding: 0.469rem 2.4rem -0.531rem 0.8rem !important
  background-image: url(/assets/navbar-menu/dropdown-arrow-general.svg);
      background-size: 12px 14px;

}
.form-control-xs,
.form-select-xs {
  padding: $input-padding-y-xs $input-padding-x-xs;
  font-size: $input-font-size-xs;
}

.form-control-xs {
  +.input-group-text {
    padding-top: $input-padding-y-xs;
    padding-bottom: $input-padding-y-xs;
  }
}

.form-check {
  outline: none;
  .form-check-input {
    &:focus-visible {
      outline: none;
      cursor: pointer;
    }
  }
}

.form-check-input {
  margin-top: .13em; // height adjustment
}

.input-group-text {
  svg {
    width: 18px;
    height: 18px;
  }
}

// For RTL
[type="tel"],
[type="url"],
[type="email"],
[type="number"] {
  direction: ltr;
}