// Tables

.table {
  margin-bottom: 0;
  width: 100%;

  ::-webkit-scrollbar {
    width: 1px;
    height: 1px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $primary;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $primary;
  }

  > :not(:last-child) > :last-child > * {
    border-bottom-color: inherit;
  }

  .last-column-appier {
    background-color: #fff;
    position: absolute;
    right: 0px;
    padding: 7.5px 0px;
    box-shadow: -7px 0px 5px rgb(0 0 0 / 5%);
  }

  .head-last-column-appier {
    th {
      &:last-child {
        // background-color: red;
        position: absolute;
        right: 0px;
        padding: 7.5px 14px;
      }
    }
  }

  tbody {
    tr {
      vertical-align: initial;
      position: relative;

      .combination-col {
        max-width: 10px;
      }

      .action-column {
        max-width: 60px;
        padding: 5px 0px 0px;
      }

      .user-double-action-column {
        min-width: 150px;
        max-width: 67px;
      }

      .double-action-column {
        min-width: 67px;
        max-width: 67px;
      }

      .row-hover-container {
        display: flex;
        position: absolute;
        right: 10px;
        background-color: #fff;
        display: none;
        height: 48px;
        margin-top: 1px;
      }

      .edit-over-scroll {
        position: absolute;
        right: 0px;
        padding: 7.5px 14px;
      }

      .row-hover-model-container {
        display: flex;
        position: absolute;
        right: 0px;
        // background-color: #fff;
        display: none;
        height: 32px;
        top: 50%;
        transform: translateY(-50%);
        // margin-top: 6px;
        // &.hover-model-btn {
        //   background-color: red;
        // }
      }

      .hover-model-btn {
        line-height: normal;
        margin-top: -2px;
        background-color: #ffffff !important;
        border-color: #dadddf !important;
        color: #202223;
        height: 30px;
        padding-top: 6px;
        font-size: 12px;
      }

      // checkbox active row change row color
      &.active-row {
        background-color: #f8f9f9;
      }

      .number-list-align-table {
        .justify-content-start,
        p {
          justify-content: flex-end !important;
          padding-right: 15px;
        }

        // color: red !important;
        // justify-content: end;
        // text-align: right;
      }

      .number-list-align-table-second {
        justify-content: center !important;

        padding-right: 15px;
      }
    }

    .row-hover {
      &:hover {
        .row-hover-container {
          // display: inherit;
        }
      }
    }

    .row-hover-model {
      &:hover {
        cursor: pointer;
        background-color: #f8f9f9;

        .row-hover-model-container {
          // margin-top: 6px;
          background-color: #f8f9f9;
          display: block;
        }
      }
    }

    th,
    td {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      vertical-align: middle;

      .miui_searchable_select {
        img {
          width: 20px !important;
          height: 20px !important;
        }
      }

      img {
        width: 22px;
        height: 22px;
        border-radius: 100%;
      }

      .b2b-custom-listing-filed {
        p {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }

  thead {
    position: relative;

    tr {
      transition: 0.3s ease;

      &.bulk-update-section {
        top: -50px;
        position: absolute;
        transition: 0.3s ease;
        width: 100%;
        // background: #fff;

        .bulk-update-button-container {
          min-height: 28px;

          .btn {
            &:active {
              border-color: transparent;
            }
          }
        }

        &.active {
          top: 2px;
          font-size: 14px;
          transition: 0.3s ease;
        }
      }
    }

    th {
      border-top: 0;
      font-weight: 500;
      font-size: 14px;
      color: $text-muted;

      i {
        margin-left: 0.325rem;
      }
    }
  }

  th,
  td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    img {
      width: 30px;
      height: 34px;
      border-radius: 100%;
    }

    .b2b-custom-listing-filed {
      border-radius: 20px;
      background-color: #ebeef0;

      p {
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}
.no-data-section {
  min-height: calc(100vh - 480px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .no-data-img {
    width: 56px;
    height: 56px;
  }

  .no-data-heading-message {
    font-family: "Inter";
    font-style: normal;
    margin-top: 10px;
    color: #202223;
    font-weight: 600;
    font-size: 16px;
  }

  .no-data-message {
    width: 250px;
    height: 40px;
    color: #808080;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    white-space: normal;
  }
}
