.custom-select {
  padding: 0px;
  box-shadow: none;
  color: #808080;
  height: 36px;

  .btn {
    width: 100%;
    background: transparent;
    // padding: 10px 25px 10px 10px;
    box-shadow: none;
    color: #808080;
    min-width: 130px;
    border-width: 1px 1px 1px 1px !important;

    border-color: #e9ecef;
    border-style: solid;
    height: 100%;
    padding-right: 30px;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;

    // search-column-input field text aligment center
    &.warehouse-aligment {
      text-align: right;
      float: right;
      padding-right: 26px;
    }

    &::after {
      content: "" !important;
      background-image: url("/assets/navbar-menu/dropdown-arrow-general.svg");
      height: 12px !important;
      width: 14px !important;
      position: absolute;
      right: 9px;
      top: 50%;
      transform: translateY(-50%);
      background-repeat: no-repeat;
      background-size: 12px 14px;
    }

    &:hover {
      background: transparent !important;
    }

    &:focus-visible {
      border: none !important;
    }

    &:active {
      color: #808080;
      background-color: transparent;
      border-color: #e9ecef;
    }

    &:disabled {
      // margin-top: 2px;
      border-left: 1.5px solid #d2d5d8;
      height: 36px;
    }
  }

  &.on-fail-validation {
    .btn {
      &::after {
        right: 30px;
      }
    }
  }

  .dropdown-menu {
    // max-height: 290px;
    // overflow-y: scroll;
    max-width: 270px;
    min-width: -webkit-fill-available;
    overflow-x: hidden;
    z-index: 9;

    .dropdown-item {
      &:hover,
      &:focus {
        background: $primary;
        color: #fff;
        cursor: pointer !important;
      }

      overflow-x: hidden;
      text-overflow: ellipsis;
      max-width: 99%;
      white-space: nowrap;
      cursor: pointer;

      &:focus {
        outline: none;
      }

      &:focus-visible {
        outline: none;
      }
    }
  }

  .dropdown-button {
    border-color: $primary !important;
    color: $primary !important;

    &::after {
      content: "" !important;
      background-image: none !important;
    }
  }

  .filter-dropdown {
    background: transparent !important;

    &:hover {
      background: transparent !important;
    }
  }
}

.listingSearch {
  .custom-select {
    max-width: 35%;

    .btn {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
}

.sorting-section-filter {
  .form-control {
    &:focus {
      border: 1px solid #e9ecef;
      border-left: 0;
    }
  }
}

.css-1xc3v61-indicatorContainer {
  .css-tj5bde-Svg {
    fill: #212a39;
    height: 20px;
    width: 24px;
    stroke-width: 0.7px;
    stroke: #fff;
  }
}

.css-16xfy0z-control {
  background-color: #e9ecef !important;
  border-color: hsl(0, 0%, 90%);

  .css-olqui2-singleValue {
    color: #202223 !important;
  }
}

.css-1u9des2-indicatorSeparator {
  display: none;
}

//responsive css
@media (max-width: 1366px) {
  .custom-select {
    .btn {
      &::after {
        right: 12px;
      }

      font-size: 12px !important;
    }

    input {
      font-size: 12px;
    }

    .input-wrapper {
      height: 30px !important;
    }
  }
}

.miui_select {
  // position: relative;
  .disabled {
    button {
      display: none;
    }

    input {
      background: #ebeef0 !important;
    }
  }

  .miui_searchable_select {
    border: 1px solid;
    border-color: hsl(0, 0%, 85%);
    border-radius: 4px;
    position: relative;

    input,
    .MuiInputBase-input {
      background: transparent;
      color: #202223;
      width: 100%;
      border: none;
      height: 34px;
      padding: 0px !important;
      padding-left: 10px !important;
      padding-right: 40px !important;
      border-radius: 4px;
      font-size: 14px;

      &:focus-visible {
        outline: none;
      }

      &:hover {
        background-color: transparent;
      }

      &:focus {
        border-bottom: 1px solid;
        border-color: transparent;
      }
    }

    .MuiButtonBase-root {
    }

    &.product-autocomplete {
      border: none;
    }

    .MuiAutocomplete-popper {
      font-size: 14px;
      padding: 0;
    }

    &::after {
      content: "" !important;
      background-image: url(/assets/navbar-menu/dropdown-arrow-general.svg);
      height: 12px !important;
      width: 14px !important;
      position: absolute;
      right: 9px;
      top: 50%;
      transform: translateY(-50%);
      background-repeat: no-repeat;
      background-size: 12px 14px;
    }

    .MuiInputLabel-root {
      display: none;
    }

    .MuiAutocomplete-endAdornment {
      .MuiAutocomplete-clearIndicator {
        color: $primary;
      }
    }

    fieldset {
      display: none;
    }
  }

  .MuiOutlinedInput-root {
    padding: 0 !important;
  }

  .mui-clear-indector {
    // background-image: url(/assets/slider_close_icon.svg);
    position: absolute;
    // height: 18px;
    // width: 18px;
    background: transparent;
    top: 48%;
    right: 22px;
    transform: translateY(-50%);
  }
}

.MuiAutocomplete-option {
  font-size: 14px !important;
  background-color: #fff;

  span {
  }

  .Mui-focused {
    background-color: #fff;
    opacity: 1;
  }

  .mui-product-option {
    font-size: 14px !important;
  }
}

@media (max-width: 1366px) {
  // .css-16xfy0z-control {
  //   height: 30px !important;
  //   min-height: 30px !important;
  // }

  .miui_select {
    .miui_searchable_select {
      input {
        // height: 28px;
      }

      &::after {
        // background-size: 10px 13px;
      }
    }
  }

  .MuiAutocomplete-option {
    font-size: 12px !important;

    span {
    }

    .mui-product-option {
      font-size: 12px !important;
    }
  }
}
